.vscode/settings.json

CAD/*.FCBak
Datasheet

Src/build
upload.sh

*.aux
*.fdb_latexmk
*.fls
*.log
main.pdf
*.synctex.gz


Schematic/**/Vector-backups
Schematic/**/*_prl
Schematic/**/*_pro
Schematic/**/fp-info-cache